.Project {
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.Project img {
    width: 90%;
    border-radius: 10px 10px 0 0;
}

.Details {
    padding: 30px 30px 20px;
}

.Details p {
    font-weight: 500;
}

.Details h5 {
    margin: 0 0 10px 0;
}

.Skills {
    display: flex;
    flex-wrap: wrap;
}

.Skills span{
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 12px 12px;
    border-radius: 5px;
    background-color: #a0a0a0;
    color: #ffffff;
    font-size: 14px;
}

.Skills span:last-child{
    margin-right: 0;
}