section {
    height: 100vh;
    margin-bottom: 0px;
}

h1 {
    color: #525252;
    font-family: 'Didot', serif;
    font-size: 48px;
    padding-top: 150px;
    line-height: 46px;
}

p {
    font-weight: 100;
    font-size: 20px;
    max-width: 409px;
}


#name {
    color: #64A0AC;
}

@media screen and (max-width: 740px) {
    h1 {
        width: 375px;
    }
}