<section>
    <div class="content-wrap">
        <h2>who am i?</h2>
        <div>
            <img src="../assets/img/Screen Shot 2020-04-24 at 5.05.12 PM.png">
            <div class="grid-container">
                <div class="grid-item" id="about">
                    <p>
                        My name is Jaime Kvaternik. I’m originally from Santa Cruz, California, 
                        but I’m currently a third year student at Northeastern University in Boston, Massachusetts. 
                        I enjoy designing and implementing front-end interfaces to solve and improve new and old problems. 
                        I’m looking for opportunities in ui/ux, app and web development.
                    </p>
                </div>
                <div class="grid-item row2" id="bubble-1">
                    <h4>TBD</h4>
                    <p>Lorem ipsum</p>
                </div>
                <div class="grid-item row2" id="bubble-2">
                    <h4>When I'm not working, I like to:</h4>
                    <ul>
                        <li>swim or play soccer</li>
                        <li>cook and brew kombucha</li>
                        <li>listen to and make music</li>
                        <li>travel and explore new places</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
