p {
    font-size: 18px;
}

img {
    position: relative;
    border-radius: 50%;
    width: 154px;
    z-index: 10;
}

.grid-container {
    margin-top: -80px;

    padding-left: 85px;
    width: 75%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "about about"
                         "bubble1 bubble2";
    gap: 16px;
    z-index: -1;
}

.grid-item {
    border-radius: 15px;
}

#about {
    background-color: #FCDE9C;
    grid-area: about;
}

#about p {
    margin: 35px 85px;
}

.grid-container > #bubble-1 {
    grid-area: bubble1;
}

.grid-container > #bubble-2 {
    grid-area: bubble2;
}

.row2 {
    color: #FDFDFD;
    background-color: #769184;
    padding: 0 25px;
}

.row2 h4 {
    margin: 25px 0px;
}

@media screen and (min-width: 500px) and (max-width: 1280px) {
    section {
        height: 100%;
        margin-bottom: 35px;
    }

    .grid-container {
        width: 100%;
        display: grid;
        top: 77px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "about about"
                             "bubble1 bubble2";
        gap: 16px;
        z-index: -1;
    }
}

@media screen and (max-width: 500px) {
    p {
        font-size: 16px;
    }

    img {
        display: inline-block;
        border-radius: 50%;
        width: 120px;
        z-index: 10;

        position: relative;
        top: 50%;
        left: 50%;
        margin-left: -60px;
    }

    .grid-container {
        margin-top: -20px;
        padding-left: 0px;
        width: 100%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: "about"
                             "bubble1" 
                             "bubble2";
        gap: 16px;
        z-index: -1;
    }

    #about p {
        margin: 30px 30px;
    }
}