.background {
    background-image: url(https://s3-us-west-1.amazonaws.com/jaimekvaternik.com/assets/svg/steps.svg);
    background-repeat: no-repeat;
    background-position: 0vw 80vh;
    background-size: 100% 2000px;
}

@media screen and (min-width: 500px) and (max-width: px) {    
    
}

@media screen and (max-width: 740px) {
    .background {
        background-image: url(https://s3-us-west-1.amazonaws.com/jaimekvaternik.com/assets/svg/vertical-path.svg);
        background-repeat: repeat-y;
        background-position: 50vw 75vh;
        background-size: 50%;
    }
}