section {
    height: 115vh;
}

li {
    list-style: none;
}
 
img {
    display: block;
    border-radius: 15px 15px 0px 0px;
    height: 200px;
}

h4 {
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 0;

    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    color: #F0A268;
    text-decoration: none;
}

.grid-container {
    padding-left: 255px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px 16px;
}

.text-overlay {
    background-color: #64A0AC;
    color: #FDFDFD;
    border-radius: 0px 0px 15px 15px;
    padding: 2px 16px;
}

.tag-list {
    width: 100%;
    padding-left: 0;
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.tag p{
    border: 1.5px solid #FDFDFD;
    border-radius: 5px;
    padding: 7.5px 15px;
    font-size: 14px;
    margin-right: 10px;
}

#more-projects {
    font-weight: 500;
    float: right;
}

#more-projects > a:hover {
    color: #769184;
    cursor: pointer;
}

@media screen and (min-width: 500px) and (max-width: 1280px) {
    section {
        height: 100%;
        margin-bottom: 75px;
    }

    .grid-container {
        padding-left: 0px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(3, 1fr);
        gap: 16px 16px;
    }
}

@media screen and (max-width: 550px) {

    section {
        height: 100%;
        margin-bottom: 50px
    }

    h4 {
        font-weight: 500;
        margin-top: 15px;
        margin-bottom: 0;
    
        width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .grid-container {
        padding-left: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px 16px;
    }
}