.NavigationBar {
    padding: 75px 0;
    float: right;
}

.NavigationBar a {
    margin-right: 55px;
}

.NavigationBar a:last-child {
    margin-right: 0px;
}

.NavigationBar a:link {
    text-decoration: none;
    color: #707070;
}

.NavigationBar a:hover {
    text-decoration: none;
}

.NavigationBar a:visited {
    text-decoration: none;
    color: #707070;
}

.NavigationBar a:active {
    text-decoration: none;
    color: #707070;
}