/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400,500,600,700,800&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FFFBF4;
    color: #525252;
    font-family: 'Libre Franklin', 'Arial Narrow', Arial, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h2 {
    font-size: 48px;
    font-weight: 600;
}

section {
    height: 100%;
    margin-bottom: 50px;
}

.content-wrap {
    max-width: 75vw;
    margin: 0 auto;
    padding: 40px 0;
}

@media screen and (min-width: 500px) and (max-width: 1280px) {
    .content-wrap {
        max-width: 85vw;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .content-wrap {
        max-width: 95vw;
        margin: 0 30px;
    }

    h2 {
        font-size: 32px;
        font-weight: 600;
    }
}