footer {
    background-color: #F0A268;
    z-index: -100;
}

h2 {
    margin: 0px 0px 45px 0px;
    color: #FDFDFD;
}

a {
    background-color: #64A0AC;
    border-radius: 15px;
    color: #FDFDFD;
    font-weight: 500;
    font-size: 18px;
    padding: 20px 40px;
    margin: 16px 8px;
    text-align: center;
    text-decoration: none;
    width: 154px;
}

.content-wrap {
    padding: 50px 0px 30px 0px;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright {
    color: #FDFDFD;
    text-align: center;
    margin-top: 40px;
}

@media screen and (min-width: 500px) and (max-width: 1024px) {    
    a {
        background-color: #64A0AC;
        border-radius: 15px;
        color: #FDFDFD;
        font-weight: 500;
        font-size: 16px;
        padding: 20px 40px;
        margin: 16px 8px;
        text-align: center;
        text-decoration: none;
        width: 154px;
    }
}

@media screen and (max-width: 500px) {

    .content-wrap {
        max-width: 100%;
    }

    h2 {
        margin: 0px 0px 25px 0px;
        color: #FDFDFD;
        text-align: center;
    }

    .links-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    a {
        display: block;
        font-weight: 500;
        font-size: 14px;
        padding: 20px 40px;
        margin: 8px;
        width: 250px;
    }
}